<div class="container">
    <div class="card">
      <div class="content-about">
        <div class="bio-about">
          <h2>Gift Serathi</h2>
          <p>
            I am a Semi-Skilled Authorised Supervisor with a passion for Software Development. In my previous role, I used to oversee my team's work, ensuring efficiency and adherence to standards. Despite my supervisory responsibilities, I am deeply interested in technology and software development. I enjoy exploring new programming languages, learning about software design, and staying updated with industry trends. My goal is to transition into a career where I can apply my skills and knowledge in this dynamic field.
          </p>
          <h3><i class="fas fa-cogs"></i> Skills</h3>
          <ul>
            <li>Semi-skilled (Authorised Supervisor)</li>
            <li>Fast Learner, Goal Directed</li>
            <li>Problem-Solving</li>
            <li>Computer Literacy</li>
            <li>Project Management Tools</li>
            <li>Strong Communication</li>
          </ul>
          <h3><i class="fas fa-graduation-cap"></i> Education</h3>
          <p>Prestigious Aureate High School - 2010 (Secondary School)</p>
          <h3><i class="fas fa-briefcase"></i> Experience</h3>
          <p>Howden (Sebcon) Eskom Plant Regulations - 2012 to 2020 (Semi-skilled Authorised Supervisor)</p>
          <p class="contact-info">Contact: 0792174197</p>
        </div>
      </div>
    </div>
  </div>
  <div class="background-elements">
    <div class="dots"></div>
    <div class="line"></div>
    <div class="square"></div>
  </div>

  