<p>home works!</p>
<div class="container">
    <div class="logo">Gee
        <img src="../assets/images/gift.jpeg" alt="Logo" />

    </div>
    <div class="loader"></div>

    <div class="menu-icon">&#9776;</div>
    <div class="content">
        <div class="card">
            <h1>Hello, I'm Gift Serathi</h1>
            <p>Welcome to my digital corner! I'm a Semi-Skilled Authorised Supervisor 
                with an everlasting love for software development and experience in 
                managing team operations. I've developed my ability to ensure 
                efficiency and maintain high standards. Despite the challenges of 
                supervision, my heart beats hardest for technological and software 
                advancement.</p>
            <p>I get energized by delving into the complex world of programming languages, 
                solving software design puzzles, and staying on top of industry developments. 
                I thrive on the thrill of continuous learning and adventure, eager to face 
                the next challenge that comes my way.</p>
            <p>My ultimate goal? To smoothly combine my experience in supervision with 
                my passion for software development. I am on a journey to transition into a new career.</p>
            <button routerLink="/projects">View My Projects</button>
        </div>
    </div>
    <div class="background-elements">
        <div class="dots"></div>
        <div class="line"></div>
        <div class="square"></div>
        <div class="wave"></div>
        <div class="triangle"></div>
    </div>
    <div class="coding-shape">
        <pre>&lt;div class=&quot;container&quot;&gt;
    &lt;!-- Your HTML content here --&gt;
&lt;/div&gt;</pre>
    </div>
</div>
