<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="card-header">Memory Game</div>
            <div class="card-body">
                <div class="card-icon"><i class="fas fa-gamepad"></i></div>
                <p>A fun and challenging memory game to test skills!</p>
            </div>
            <a href="https://github.com/GiftTeddy/Memory-Game.git" target="_blank" rel="noopener noreferrer" class="card-link">View Repository</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-header">UI Design (Mimic)</div>
            <div class="card-body">
                <div class="card-icon"><i class="fas fa-laptop-code"></i></div>
                <p>Explore the mimic design of a popular UI layout.</p>
            </div>
            <a href="https://github.com/GiftTeddy/base-apparel-coming-soon-master.git" target="_blank" rel="noopener noreferrer" class="card-link">View Repository</a>
        </div>
    </div>
    
    <div class="background-elements">
        <div class="dots"></div>
        <div class="line"></div>
        <div class="square"></div>
    </div>
</div>
